@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.mb-lg-0{
    margin:0 auto;
}
.header1{
    background:#e1ebfa;
    width:100%;
    padding-bottom:2rem;
}
.img-header{
    width:100%;
    border-radius:53% 47% 35% 65% / 61% 53% 47% 39% ;
    margin-top:40px;
}
.font-family{
    font-family: "Satisfy", cursive;
    font-size:3rem;
    font-weight:400;
    color:#a30000;
    background: linear-gradient(120deg, #fff3cd, #fff3cd);
    background-position: 0 80%;
    background-size: 100% 20%;
    background-repeat: no-repeat;
}
.section2{
    background: url("https://bootstrapbrain.com/demo/templates/wave/wave-lite/assets/img/cta/cta-img-1.jpg");
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(80%);
    height:90vh;
}
.span2{
    background: linear-gradient(120deg, #e4a0a1, #e4a0a1);
    background-position: 0 80%;
    background-size: 100% 20%;
    background-repeat: no-repeat;
}
.div-text{
    position: absolute;
    margin-top: -35rem;
    margin-left: 5% !important;
}
.bsb-tpl-bg-yellow{
    background:#f2e9ac;
}
.bsb-tpl-bg-green{
    background: #caf0c7;
}
.bsb-tpl-bg-pink{
    background: #ffe9f3;
}
.bsb-tpl-bg-cyan{
    background: #cdf7f6;
}
.custom-width-div{
    max-width: 1200px !important;
}
.section3{
    background: #f2fafa;
}
.custom-div-m{
    margin: 0 auto;
}
.div-ml{
    margin-left:200px;
}
.custom-ml2{
    margin-left:600px;
}
.custom-border{
    border-bottom: 1px solid blue;
    border-radius: 9px;
}
.div-img{
    transform: scale(1.2);
    transition: all 0.5s;
}
.div-main:hover .div-img{
    transform: scale(1);
}
.div-sub{
    opacity: 0;
    transition: all 0.5s;
}
.div-main:hover .div-sub{
    opacity: 1;
    background: rgba(0, 0, 0, 0.448);
}
.div-boxshadow{
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}
.div-ml2{
    margin-left:500px !important ;
}
.div-height{
    height: 660px;
}
.div-price-mt{
    margin-top: -500px;
}
.custom-div-ml{
    margin-left:600px;
    margin-top: -400px;
}
.custom-div-ml2{
    margin-left:910px;
    margin-top:-320px;
}
.custom-div-ml3{
    margin-left:600px;
    margin-top:20px;
}
.custom-div-ml4{
    margin-left:910px;
    margin-top:-320px;
}
@media screen and (max-width:1100px) {
    div img{
        max-width: 97%;
    }
    .div-main{
        width: 20rem;
    }
    .accordion{
        margin-left:430px;
        max-width: 500px;
    }
    .div-text{
        margin-top: -27rem;
        font-size: 3rem;
    }
    .tw-ml-16{
        margin-left:100px;
    }
}
@media screen and (max-width:790px) {
    .custom-height{
        height: 150px;
    }
    .div-main{
        width: 15rem;
    }
    .accordion{
        margin-left:250px !important;
        max-width: 350px;
    }
    .div-text{
        margin-top: -29rem;
        font-size: 3rem;
    }
    .div-gallary{
        margin-left:-10px;
    }
}
@media screen and (max-width:640px) {
    .team{
        margin: 0 auto;
        margin-bottom: 1rem;
    }
    .div-text{
        margin-top: -30rem;
        margin-left:0 !important;
    }
    .div-main{
        margin: 0 auto;
        margin-bottom:1rem;
    }
    .accordion{
        max-width:400px;
        margin-left:5px !important;
    }
    .custom-auto{
        margin: 0 auto;
    }
    .div-price{
        margin-top: 100px;
        margin-left: -400px;
    }
}